<div class="container">
    <br> <br>
        <h2>  <i class="fas fa-edit"></i> Modifier un patient</h2>

    <form>
        <div class="row">
            <div class="col-sm-12">
                <label> CIN</label>
                <input readonly type="text" [(ngModel)]="patientCourant.cin" name="cin" class="form-control">
            </div>

            <div class="col-sm-12">
                <label> Nom</label>
                <input type="text" [(ngModel)]="patientCourant.nom" name="nom" class="form-control">
            </div>

            <div class="col-sm-12">
                <label> Prénom</label>
                <input type="text" [(ngModel)]="patientCourant.prenom" name="prenom" class="form-control">
            </div>
            <div class="col-sm-12">
                <label>Groupe</label>
                <select class="form-control form-control-lg" name="grpid" [(ngModel)]= "idgrpModified">
                <option *ngFor="let g of groups" [value]="g.idGrp">{{g.nomGrp}}</option>
                </select> 
                </div>
            
            <div class="col-sm-12">
                <label> Date de naissance</label>
                <input type="date" [ngModel]="patientCourant.dateNaiss" name="dateNaiss" (ngModelChange)="patientCourant.dateNaiss=$event" class="form-control">
            </div>

            <div class="col-sm-12">
                <label>Adresse</label>
                <input type="text" [(ngModel)]="patientCourant.adresse" name="adresse" class="form-control">
            </div>
            
            <div class="col-sm-12">
                <label> Sexe</label><br>
                <input type="radio" [(ngModel)]="patientCourant.sexe" name="sexe" id="femme" value="femme">
                <label for="femme">Femme</label>
                <input type="radio" [(ngModel)]="patientCourant.sexe" name="sexe" id="homme" value="homme">
                <label for="homme">Homme</label>
            </div>
            
            <div class="col-sm-12">
                <label>Téléphone</label>
                <input type="text" [(ngModel)]="patientCourant.tel" name="telephone" class="form-control">
            </div>

            <div class="col-sm-12">
                <label> Assurance</label>
                <input type="text" [(ngModel)]="patientCourant.assurance" name="assurance" class="form-control">
            </div>

            <!-- Bouton de soumission -->
            <div class="mt-2">
                <button type="submit" (click)="modifPatient()" class="btn btn-success"><i class="fas fa-save"></i> Modifier</button>
            </div>
        </div>
    </form>
</div>
