<form name="f2" class="form-inline">
    <div class="form-group mx-sm-3 mb-2 mt-2 ">
    <label>Nom à chercher </label>
    <input type="text" class="form-control" name="nom" class="form-control" #nomEtu>
    </div>
    </form>
<div class="container">
    <div class="card shadow mb-4 bg-white">
    <div class="card-body">
    <h1>Liste des patients</h1>
    <table width="100%">
        <thead>
            <tr>
            <th>Cin</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de naissance</th>
            <th>Sexe</th>
            <th>Numero de telphone</th>
            <th>Adresse</th>
            <th>Groupe</th>
        
            <th>Assurance</th>
           
            

            
            
            </tr>
            </thead>
            <tbody *ngFor="let p of list_pat">
            <tr >
            <td>{{p.cin}}</td>
            <td>{{p.nom}}</td>
            <td>{{p. prenom}}</td>
            <td>{{p.dateNaiss | date:'dd/MM/yyyy'}}</td>
            <td>{{p.sexe}}</td>
            <td>{{p. tel}}</td>
            <td>{{p.adresse}}</td>
            <td>{{p.grp.nomGrp}}</td>
            <td>{{p. assurance}}</td>

               
            
            
           

            

            
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
